$table-background: #F8F8F8;

.table-view {
  width: 100%;
  max-width: 500px;
  padding: 10px 0;

  background-color: $table-background;
  border-radius: 25px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__cell {
    padding: 5px;

    font-size: 16px;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    line-height: 1;
    text-align: center;

    &--legend {
      font-weight: bold;
    }
  }
}
