<div class="table-view">
  <div class="table-view__row">
    <div class="table-view__cell table-view__cell--legend">
      Date
    </div>
    <div class="table-view__cell table-view__cell--legend">
      Value
    </div>
  </div>
  <div class="table-view__row">
    <div class="table-view__cell">
      {{data ? (data.date | date : 'MMMM yyyy') : '-'}}
    </div>
    <div class="table-view__cell">
      {{data ? data.value : '-'}}
    </div>
  </div>
</div>
