<div class="app">
  <div class="app__container">
    <button (click)="setData()" [disabled]="!!data.length">SET DATA</button>
    <button (click)="clearData()" [disabled]="!data.length">CLEAR DATA</button>
    <app-bar [data]="data" (onBarClick)="reportData($event)"></app-bar>
    <app-table-view [data]="reportedData"></app-table-view>
  </div>
</div>
